services/_data/

# Created by https://www.gitignore.io/api/VisualStudioCode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# End of https://www.gitignore.io/api/VisualStudioCode
